/*
	Masked Input plugin for jQuery
	Copyright (c) 2007-{{Year}} Josh Bush (digitalbush.com)
	Licensed under the MIT license (http://digitalbush.com/projects/masked-input-plugin/#license)
	Version: {{version}}
*/
(function($) {
	{{{include "src/jquery.maskedinput.js"}}}
})(jQuery);